{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<p>
    Welcome {{ current_user.email }}
</p>

<p>
    <a href="{{ url_for('create_subject') }}">
        Create Subject
    </a>
</p>

<p>
    <a href="{{ url_for('create_flashcard') }}">
        Create Flashcard
    </a>
</p>

<h3>Your Flashcards</h3>

{% if ranked_cards %}

    {% for item in ranked_cards %}

        <div>

            <h4>{{ item.card.question }}</h4>

            <p>
                Priority: {{ item.priority }}
            </p>
            <p>
                Confidence: {{ item.card.confidence }}/5
            </p>

            <a href="{{ url_for('review_flashcard', card_id=item.card.id) }}">
                Review
            </a>

        </div>

    {% endfor %}

{% else %}

    <p>You don't have any flashcards yet.</p>

{% endif %}

{% endblock %}