{% extends "base.html" %}


{% block content %}

<h2>Your Flashcards</h2>

        <form method="GET">

            <label for="search">
                Search flashcards
            </label>

            <input
                id="search"
                type="search"
                name="search"
                value="{{ search }}"
                placeholder="Search questions"
            >

            <button type="submit">
                Search
            </button>
            <label for="subject_id">
                Subject
            </label>

            <select
                id="subject_id"
                name="subject_id"
            >

                <option value="">
                    All subjects
                </option>

                {% for subject in subjects %}

                    <option
                        value="{{ subject.id }}"

                        {% if selected_subject == subject.id %}
                            selected
                        {% endif %}
                    >
                        {{ subject.name }}
                    </option>

                {% endfor %}

            </select>
        </form>
<p>
    <a href="{{ url_for('create_flashcard') }}">
        Create Flashcard
    </a>
</p>


{% if cards %}

    {% for card in cards %}

        <article>

            <h3>
                {{ card.question }}
            </h3>

            <p>
                <strong>Subject:</strong>
                {{ card.subject.name }}
            </p>

            <p>
                <strong>Answer:</strong>
                {{ card.answer }}
            </p>

            <p>
                <strong>Confidence:</strong>
                {{ card.confidence }}/5
            </p>

            <a href="{{ url_for(
                'review_flashcard',
                card_id=card.id
            ) }}">
                Review
            </a>

            <a href="{{ url_for(
                'edit_flashcard',
                card_id=card.id
            ) }}">
                Edit
            </a>
            <a href="{{ url_for(
                'review_history',
                card_id=card.id
            ) }}">
                View Review History
            </a>
            <form
                method="POST"
                action="{{ url_for(
                    'delete_flashcard',
                    card_id=card.id
                ) }}"
            >

                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                >

                <button type="submit">
                    Delete
                </button>

            </form>
            
        </article>

    {% endfor %}

{% else %}

    <p>
        You have not created any flashcards yet.
    </p>

{% endif %}


{% endblock %}